<!doctype html>
<html lang="en" ng-app="maintenance">
<head>
    <title>Dive Site Maintenance (controller as)</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <style type="text/css">
        .current-spot { margin-top: 50px; background-color: #fbbf69; }
        .current-spot h3 { margin-top: 12px; margin-bottom: 14px; }
        .main-content { background-color: #eee; padding-top: 16px; padding-bottom: 12px; }
    </style>
</head>
<body ng-controller="adminController as admin">
<!-- navigation header -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- don't know why we need this button, but getbootstrap.com has it -->
        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#adminMenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ng-click="admin.showMain()">Younderwater Admin</a>
        <div class="collapse navbar-collapse" id="adminMenu">
            <ul class="nav navbar-nav">
                <li ng-class="{active: admin.isActive('Locations')}">
                    <a href="#" ng-click="admin.showLocations()">Locations</a>
                </li>
                <li ng-class="{active: admin.isActive('Sites')}">
                    <a href="#" ng-click="admin.showSites()">Dive Sites</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- optional title bar -->
<div class="current-spot">
    <div class="container-fluid">
        <div class="container">
            <div ng-show="admin.view == 'locations'"><h3>Manage the list of diving locations</h3></div>
            <div ng-show="admin.view == 'sites'"><h3>Manage the list of dive sites</h3></div>
        </div>
    </div>
</div>

<!-- view content -->
<div class="main-content">
    <div class="container-fluid">
        <div class="container">
            <div ui-view>
                <i>... will disapear when a state is activated and populates the ui-view with a template ...</i>
            </div>
        </div>
    </div>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript">
    angular.module("maintenance", ["ui.router"]);
    angular.module("maintenance").controller("adminController", AdminController);

    function AdminController($state) {
        this.activeMenu = "";
        this.showMain();
        this.$state = $state;
    }
    AdminController.$inject = ["$state"];

    AdminController.prototype.setView = function(view, menuId) {
        this.view = view;
        this.activeMenu = menuId;
        console.log("this.$state is a " + typeof this.$state);
    };

    AdminController.prototype.isActive = function(menuId) {
        return this.activeMenu == menuId;
    };

    AdminController.prototype.showMain = function() {
        this.setView("main", "");
    };

    AdminController.prototype.showLocations = function() {
        this.setView("locations", "Locations");
    };

    AdminController.prototype.showSites = function() {
        this.setView("sites", "Sites");
    };

    angular.module("maintenance")
            .config(["$stateProvider", "$urlRouterProvider", function ($stateProvider, $urlRouterProvider) {
                $urlRouterProvider.otherwise("/main");  // for any unmatched url, redirect to /main
                $stateProvider
                        .state("main", {
// this url property implies that we can go to this state by changing the url in the address bar
                    url: "/main",
                            templateUrl: "partial/main.html"
                        })
                        .state("locations", {
                    url: "/locations",
                            templateUrl: "partial/locations.html"
                        })
                        .state("sites", {
                    url: "/sites",
                            templateUrl: function ($stateParams) {  // templateUrl can be a function that returns a url
                                return "partial/sites.html";
                            }
                        });
            }]);
</script>
</body>
</html>